<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>.: Polisi Lalu Lintas :.</title>
        <link rel="icon" href="/img/gp3.png" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="/themes/gray/easyui.css">
        <link rel="stylesheet" type="text/css" href="/themes/icon.css">
        <link rel="stylesheet" type="text/css" href="/themes/color.css">
        <link rel="stylesheet" type="text/css" href="/css/home.css">
        <link rel="stylesheet" type="text/css" href="/css/tasklist.css">
        <!-- <link rel="stylesheet" type="text/css" href="/css/navpanel.css"> -->
        <link rel="stylesheet" type="text/css" href="/themes/color.css">
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/jquery.easyui.min.js"></script>
        <script type="text/javascript" src="/js/datagrid-export.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
        <!-- <script type="text/javascript" src="/js/home.js"></script> -->
        <script type="text/javascript" src="/js/laporan.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!-- <link rel="stylesheet" href="/css/idx.css"> -->
        <link rel="stylesheet" href="/css/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <link href="https://fonts.cdnfonts.com/css/open-sans" rel="stylesheet">
        <script src="https://maps.googleapis.com/maps/api/js?key=<%=apikey%>&libraries=places"></script>
        <script type="text/javascript" src="https://www.jeasyui.com/easyui/datagrid-groupview.js"></script>

    </head>
    <body>    
        <div id="mini_me" style="width:30px;height:30px;text-align: center; font-weight: 100; margin: 8px 0 0 260px;position: absolute;z-index: 2;cursor: pointer;"><img id="img_mini_me" src="/img/mini.png"/></div>   
        <div id="cc" class="easyui-layout" style="width:100%;height:99%;background: transparent;z-index: 1;">
            <!-- <div data-options="region:'north'" style="height:50px;border-color: #fff;background-color:#fff;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
            <div style="width:211px;height:100%;background-color: #FAFAFA;">AA</div>
            </div> -->
            
            <div data-options="region:'center'"  style="background-color: white;border:none;height: 100%;">
                <div style="background: white;width: 100%;height:60px;margin-top: -12px;position: absolute;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
                       
                            <div id="title_page" style="margin-left: 30px;margin-top: 20px;color: #45464E;font-family:'Open Sans Condensed';font-size: 20; font-weight: 600;line-height: 28px;height: 28px;width:100px;border: 0px solid red;">Laporan</div>
                            <div style ="width:16px;height: 16px; margin-top: -25px; margin-left: 80%;"><img src="/img/notification.png" width="16" height="16"/> </div>
                            <div id="username" style ="width:16px;height: 16px; margin-top: -25px; margin-left: 85%;font-family: 'Poppins';font-size: 18;font-weight: 400;color: #404040;">Admin</div>
                            <div id="level" style ="width:60px;height: 18px; margin-top: 10px; margin-left: 85%;font-family: 'Poppins';font-size: 10;font-weight: 400;color: #404040;text-align: center;">Super Admin</div>
                            <div style="width: 32;height: 32;margin-top: -40px; margin-left: 91%;"><img src="/img/profile 1.png" width="32" height="32" /></div>
                            <!-- <div style="margin-top: -30px;margin-left: 93%;"> -->
                                <div class="dropdown">
                                    <button onclick="myFunction()" class="dropbtn"><img src="/img/vector (6).png" width="15" height="9"/></button>
                                    <div id="myDropdown" class="dropdown-content">
                                    <a href="#home">Home</a>
                                    <a href="#about">About</a>
                                    <a href="#contact">Contact</a>
                                    </div>
                                </div>
                            <!-- </div> -->

                            <div style="margin-bottom: 15px;"></div>
                        
                            <div id="cc_monitor" class="easyui-layout" style="width:98%;height:540px;background: white;border-radius: 8px;margin-top: 10px;margin-left:10px;position: fixed;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
                                <div data-options="region:'center'"  style="background-color: white;border-color: white;height: 100%;border:none;">

                                    <div class="easyui-tabs" style="width:100%;height:530px">
                                        <div title="Detail Report" style="padding:10px">
                                            <div style="padding:5px;">
                                                <input id="dari" class="easyui-datebox" label="Dari:" labelPosition="top" data-options="formatter:myformatter,parser:myparser" style="width:200px;">
                                            </div>
                                            <div style="padding:5px;margin-top:-61px;margin-left:230px;">
                                                <input id="sampai" class="easyui-datebox" label="Sampai:" labelPosition="top" data-options="formatter:myformatter,parser:myparser" style="width:200px;">
                                            </div>
                                            <div style="padding:5px;margin-top:-41px;margin-left:450px;">
                                                <a href="#" id="cari" class="easyui-linkbutton" style="height: 30px; background: #436AAC; color: white;font-family: 'Poppins';" onClick=''>Cari</a>
                                                <a href="#" id="export" class="easyui-linkbutton" style="height: 30px; background: #436AAC; color: white;font-family: 'Poppins';" onClick=''>Export</a>
                                            </div>

                                            <table id="dgDetail"  class="easyui-datagrid" style="width:100%;height:380px;background:transparent;background-color:transparent;"
                                                    data-options="remoteSort:false,multiSort:true"
                                                    nowrap="false"
                                                    pagination="false"
                                                    rownumbers="true" fitColumns="false" singleSelect="true">
                                                        <thead>
                                                            <tr>
                                                                
                                                               
                                                                <th align="center" field="updateTime" width="180" data-options="sortable:true">Update Time</th> 
                                                                <th align="center" hidden field="tgl" width="150" data-options="sortable:true">Update Date</th> 
                                                                <th align="center" field="vehicleName" width="150" data-options="sortable:true">Vehicle Name</th>
                                                                <th align="center" field="vehicleUid" width="200" data-options="sortable:true">Vehicle Uid</th>
                                                                <th align="center" field="vehicleSclId" width="200" data-options="sortable:true">Vehicle Sclid</th>
                                                                <th align="center" field="batteryVoltage" width="200" data-options="sortable:true">Battery Voltage</th>
                                                                <th align="center" field="location" width="200" data-options="sortable:true">Location</th>
                                                                <th align="center" field="speed" width="200" data-options="sortable:true">SPEED</th>
                                                            </tr>
                                                        </thead>
                                            </table>
                                        </div>
                                        <div title="Trip Data" style="padding:10px">
                                            <div style="padding:5px;">
                                                <input id="dari1" class="easyui-datebox" label="Dari:" labelPosition="top" data-options="formatter:myformatter,parser:myparser" style="width:200px;">
                                            </div>
                                            <div style="padding:5px;margin-top:-61px;margin-left:230px;">
                                                <input id="sampai1" class="easyui-datebox" label="Sampai:" labelPosition="top" data-options="formatter:myformatter,parser:myparser" style="width:200px;">
                                            </div>
                                            <div style="padding:5px;margin-top:-60px;margin-left:450px;">
                                                <select id="vehicle1" class="easyui-combogrid" style="width:200px" data-options="
                                                panelWidth: 300,
                                                idField: 'vehicleUid',
                                                textField: 'vehicleUid',
                                                mode:'local',
                                                method: 'get',
                                                columns: [[
                                                    
                                                    {field:'vehicleUid',title:'VehicleUid',width:80},
                                                    {field:'vehicleName',title:'Vehicle Name',width:120,hidden:true},
                                                    {field:'vehicleSclId',title:'VehicleSclID',hidden:true,width:80},
                                                ]],
                                                fitColumns: true,
                                                label: 'Pilih Kendaraan:',
                                                labelPosition: 'top'
                                            "></select>
                                            </div>

                                            <div style="padding:5px;margin-top:-40px;margin-left:655px;">
                                                <a href="#" id="cari1" class="easyui-linkbutton" style="height: 30px; background: #436AAC; color: white;font-family: 'Poppins';" onClick=''>Cari</a>
                                                <a href="#" id="kembali1" class="easyui-linkbutton" style="height: 30px; background: #436AAC; color: white;font-family: 'Poppins';" onClick=''>Kembali</a>
                                                <a href="#" id="export1" class="easyui-linkbutton" style="height: 30px; background: #436AAC; color: white;font-family: 'Poppins';" onClick=''>Export</a>
                                            </div>
                                                    <div id="div_distance">
                                                        <table id="dgDistance"  class="easyui-datagrid" style="width:100%;height:380px;background:transparent;background-color:transparent;"
                                                        data-options="remoteSort:false,multiSort:true"
                                                        nowrap="false"
                                                        pagination="false"
                                                        rownumbers="false" fitColumns="false" singleSelect="true">
                                                        <thead data-options="frozen:true">
                                                                <tr>
                                                                    <th align="center" field="period" width="180" data-options="sortable:true">Period</th> 
                                                                    <th align="center" field="assetId" width="150" data-options="sortable:true">AssetId</th>
                                                                    <th align="center" field="vehicle_type" width="150" data-options="sortable:true">Vehicle Type</th>
                                                                    <th align="center" field="num_of_trip" width="150" data-options="sortable:true">Num Of Trip</th>
                                                                    <th align="center" field="trip_duration" width="150" data-options="sortable:true">Trip Duration</th>
                                                                </tr>
                                                        </thead>
                                                        <thead>
                                                            <tr>
                                                                
                                                                <th align="center" field="start_latlng" width="180" data-options="sortable:true">Start Position</th>
                                                                <th align="center" field="end_latlng" width="180" data-options="sortable:true">End Position</th>
                                                                <th align="center" field="totalKmDriven" width="100" data-options="sortable:true">KM Driven</th>
                                                                <th align="center" field="fuelConsumedL" width="100" data-options="sortable:true">fuel Consumed</th>
                                                                <th align="center" field="idlePercent" width="100" data-options="sortable:true">Idle %</th>
                                                                <th align="center" field="movingPercent" width="100" data-options="sortable:true">Moving %</th>
                                                                <th align="center" field="stoppedPercent" width="100" data-options="sortable:true">Stopped %</th>
                                                                <th align="center" data-options="field:'status_device',width:80,align:'center',formatter:formatAction">Action</th>
                                                            </tr>
                                                        </thead>
                                                        </table>
                                                    </div>

                                                    <div id="distance_detail">
                                                        <table id="dgDistanceDetail"  class="easyui-datagrid" style="width:100%;height:380px;background:transparent;background-color:transparent;"
                                                        data-options="remoteSort:false,multiSort:true"
                                                        nowrap="false"
                                                        pagination="false"
                                                        rownumbers="false" fitColumns="false" singleSelect="true">
                                                        <thead>
                                                            <tr>
                                                                
                                                                <th align="center" field="totalVehicleMovingSec" width="180" data-options="sortable:true">Vehicle Moving Sec</th>
                                                                <th align="center" field="totalTimeVehicleIdleSec" width="180" data-options="sortable:true">Time Vehicle Idle Sec</th>
                                                                <th align="center" field="totalKm" width="100" data-options="sortable:true">Total Km</th>
                                                                <th align="center" field="firstTime" width="100" data-options="sortable:true">FirstTime</th>
                                                                <th align="center" field="lastTime" width="100" data-options="sortable:true">LastTime</th>
                                                                <th align="center" field="startLat" width="100" data-options="sortable:true">Start Lat</th>
                                                                <th align="center" field="startLong" width="100" data-options="sortable:true">Start Long</th>
                                                                <th align="center" field="endLat" width="180" data-options="sortable:true">End Lat</th>
                                                                <th align="center" field="endLong" width="180" data-options="sortable:true">End Long</th>
                                                                <th align="center" field="fuelEfficiencyKPL" width="180" data-options="sortable:true">Fuel Efficiency KPL</th>
                                                                <th align="center" field="fuelConsumedL" width="180" data-options="sortable:true">Fuel ConsumedL</th>
                                                                <th align="center" field="totalTimeSegmentSec" width="180" data-options="sortable:true">Total Time Segment Sec</th>
                                                                <th align="center" field="idlePercent" width="180" data-options="sortable:true">idle %</th>
                                                                <th align="center" field="runningPercent" width="180" data-options="sortable:true">Running %</th>
                                                                <th align="center" field="nightTimeDrive" width="180" data-options="sortable:true">Night Time Drive</th>

                                                            </tr>
                                                        </thead>
                                                        </table>
                                                    </div>
                                                   
                                        </div>
                                        <div title="Alert" style="padding:10px">
                                            <div style="padding:5px;">
                                                <input id="dari2" class="easyui-datebox" label="Dari:" labelPosition="top" data-options="formatter:myformatter,parser:myparser" style="width:200px;">
                                            </div>
                                            <div style="padding:5px;margin-top:-61px;margin-left:230px;">
                                                <input id="sampai2" class="easyui-datebox" label="Sampai:" labelPosition="top" data-options="formatter:myformatter,parser:myparser" style="width:200px;">
                                            </div>
                                            <div style="padding:5px;margin-top:-41px;margin-left:450px;">
                                                <a href="#" id="cari2" class="easyui-linkbutton" style="height: 30px; background: #436AAC; color: white;font-family: 'Poppins';" onClick=''>Cari</a>
                                                <a href="#" id="export2" class="easyui-linkbutton" style="height: 30px; background: #436AAC; color: white;font-family: 'Poppins';" onClick=''>Export</a>
                                            </div>

                                            <table id="dgAlert"  class="easyui-datagrid" style="width:100%;height:380px;background:transparent;background-color:transparent;"
                                                    data-options="remoteSort:false,multiSort:true"
                                                    nowrap="false"
                                                    pagination="false"
                                                    rownumbers="false" fitColumns="true" singleSelect="true">
                                                <thead>
                                                    <tr>
                                                        <th align="center" field="severity" width="180" data-options="sortable:true">Severity</th> 
                                                        <th align="center" field="count" width="150" data-options="sortable:true">Count</th>
                                                    
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                       
                                        <!-- <div title="Trip Report" style="padding:10px">
                                           
                                        </div> -->
                                        <div title="Geofence" style="padding:10px">
                                            <div style="padding:5px;">
                                                <input id="dari3" class="easyui-datebox" label="Dari:" labelPosition="top" data-options="formatter:myformatter,parser:myparser" style="width:200px;">
                                            </div>
                                            <div style="padding:5px;margin-top:-61px;margin-left:230px;">
                                                <input id="sampai3" class="easyui-datebox" label="Sampai:" labelPosition="top" data-options="formatter:myformatter,parser:myparser" style="width:200px;">
                                            </div>
                                            <div style="padding:5px;margin-top:-41px;margin-left:450px;">
                                                <a href="#" id="cari3" class="easyui-linkbutton" style="height: 30px; background: #436AAC; color: white;font-family: 'Poppins';" onClick=''>Cari</a>
                                                <a href="#" id="kembali2" class="easyui-linkbutton" style="height: 30px; background: #436AAC; color: white;font-family: 'Poppins';" onClick=''>Kembali</a>
                                                <a href="#" id="export3" class="easyui-linkbutton" style="height: 30px; background: #436AAC; color: white;font-family: 'Poppins';" onClick=''>Export</a>
                                            </div>

                                            <div id="div_geofence">
                                                <table id="dgGeofence"  class="easyui-datagrid" style="width:100%;height:380px;background:transparent;background-color:transparent;"
                                                data-options="remoteSort:false,multiSort:true"
                                                nowrap="false"
                                                pagination="false"
                                                rownumbers="false" fitColumns="true" singleSelect="true">
               
                                                <thead>
                                                    <tr>
                                                        <th align="center" field="geofenceScldId" width="180" data-options="sortable:true" hidden >geofenceScldId</th> 
                                                        <th align="center" field="geofenceId" width="180" data-options="sortable:true">geofenceId</th>
                                                        <th align="center" field="geofenceAddress" width="180" data-options="sortable:true">geofenceAddress</th>
                                                        <th align="center" field="occurrences" width="100" data-options="sortable:true">occurrences</th>
                                                        <th align="center" field="avgWaitTime" width="100" data-options="sortable:true">avgWaitTime</th>
                                                        <th align="center" field="vehicles" width="100" data-options="sortable:true">vehicles</th>
                                                        <th align="center" data-options="field:'status_device',width:80,align:'center',formatter:formatAction1">Action</th>
                                                    </tr>
                                                </thead>
                                                </table>
                                            </div>

                                            <div id="div_geofence_detail">
                                                <table id="dgGeofenceDetail"  class="easyui-datagrid" style="width:100%;height:380px;background:transparent;background-color:transparent;"
                                                
                                                pagination="false"
                                                rownumbers="false"  singleSelect="true">
               
                                                <thead>
                                                    <tr>
                                                        <th align="center" field="startTime" width="180"  hidden >startTime</th> 
                                                        <th align="center" field="geofenceId" width="180" >geofenceId</th>
                                                        <!-- <th align="center" field="vehicleSclId" width="150" data-options="sortable:true">vehicleSclId</th> -->
                                                        <th align="center" field="vehicleUid" width="200" >vehicleUid</th>
                                                        <th align="center" field="duration" width="200" data-options="formatter:formathms">duration</th>
                
                                                    </tr>
                                                </thead>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                    
                </div>
                <!-- Haloo -->
            </div>
        <div data-options="region:'west',split:false"  style="width:280px;border-color: transparent;background:transparent;background-color: #FAFAFA;">
			<!-- <div id="sm" class="easyui-sidemenu" data-options="data:data" style="margin-left: 0px;width:208px;border-color: none;background: transparent;"></div> -->
			<div style="Margin:30px 0 0 20px"><img src="/img/logo_polisi.png" width="60px" height="60px"></div>
            <div style="Margin:-50px 0 0 90px"><img src="/img/polisi.png" width="50px" height="20px"></div>
            <div style="Margin:10px 0 50px 90px"><img src="/img/lalu lintas.png" width="120px" height="20px"></div>

        
                <div style="margin-bottom:5px;width: 240px;margin-left:25px ;">
                    <a id="dashboard" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2',plain:true,selected:false,iconCls:'icon-dashboard',size:'middle'" style="height: 40px;width: 100%;text-align: left;" onclick="Dashboard()" >Dashboard</a>
                </div>
                <div style="margin-bottom:5px;width: 240px;margin-left:25px ;">
                    <a id="monitor" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2',plain:true,selected:false,iconCls:'icon-monitor',size:'middle'" style="height: 40px;width: 100%;text-align: left;" onclick="Monitor()">Pantauan</a>
                </div>
                <!-- <div style="margin-bottom:5px;width: 240px;margin-left:25px ;">
                    <a id="device" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2',plain:true,iconCls:'icon-tasklist-black',size:'middle'" style="height: 40px;width: 100%;text-align: left;" onclick="Device()">Perangkat</a>
                </div> -->
                <div style="margin-bottom:5px;width: 240px;margin-left:25px ;">
                    <a id="vehicle" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2',plain:true,iconCls:'icon-tasklist-black',size:'middle'" style="height: 40px;width: 100%;text-align: left;" onclick="Vehicle()">Kendaraan</a>
                </div>
                <div style="margin-bottom:5px;width: 240px;margin-left:25px ;">
                    <a id="petugas" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2',plain:true,iconCls:'icon-tasklist-black',size:'middle'" style="height: 40px;width: 100%;text-align: left;" onclick="Petugas()">Petugas</a>
                </div>
                <div style="margin-bottom:5px;width: 240px;margin-left:25px ;">
                    <a id="tasklist" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2',plain:true,iconCls:'icon-tasklist-black',size:'middle'" style="height: 40px;width: 100%;text-align: left;" onclick="Tasklist()">Penugasan</a>
                </div>
                <div style="margin-bottom:5px;width: 240px;margin-left:25px ;">
                    <a id="chat" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2',plain:true,iconCls:'icon-chat-black',size:'middle'" style="height: 40px;width: 100%;text-align: left;" onclick="Chat()">Chat</a>
                </div>
                <div style="margin-bottom:5px;width: 240px;margin-left:25px ;">
                    <a id="alert" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2',plain:true,selected:false,iconCls:'icon-bell',size:'middle'" style="height: 40px;width: 100%;text-align: left;" onclick="Notifikasi()">Notifikasi</a>
                </div>
                <div style="margin-bottom:5px;width: 240px;margin-left:25px ;">
                    <a id="report" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2',plain:true,selected:true,iconCls:'icon-document',size:'middle'" style="height: 40px;width: 100%;text-align: left;" onclick="Laporan()">Laporan</a>
                </div>
                <div style="margin-bottom:5px;width: 240px;margin-left:25px ;">
                    <a id="setting" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2',plain:true,selected:false,iconCls:'icon-setting1',size:'middle'" style="height: 40px;width: 100%;text-align: left;" >Pengaturan</a>
                </div>
                <div style="margin-top:100px;margin-bottom:5px;width: 240px;margin-left:25px ;">
                    <a id="logout" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2',plain:true,selected:false,iconCls:'icon-logout',size:'middle'" style="height: 40px;width: 100%;text-align: left;" onclick="logout()" >Logout</a>
                </div>
		</div>
        </div>


        
       
        <script type="text/javascript" src="/js/laporan_bottom.js"></script>
        
    </body>
    </html>