<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>.: Polisi Lalu Lintas :.</title>
        <link rel="icon" href="/img/gp3.png" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="/themes/gray/easyui.css">
        <link rel="stylesheet" type="text/css" href="/themes/icon.css">
        <link rel="stylesheet" type="text/css" href="/themes/color.css">
        <!-- <link rel="stylesheet" type="text/css" href="/css/home.css"> -->
        <link rel="stylesheet" type="text/css" href="/css/monitor.css">
        <!-- <link rel="stylesheet" type="text/css" href="/css/navpanel.css"> -->
        <link rel="stylesheet" type="text/css" href="/themes/color.css">
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/jquery.easyui.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
        <!-- <script type="text/javascript" src="/js/home.js"></script> -->
        <script type="text/javascript" src="/js/monitor.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript" src="/js/rotate_icon.js"></script>
        <script type="text/javascript" src="/js/markers_car.js"></script>  
        <link rel="stylesheet" href="/css/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
        <link href="https://fonts.cdnfonts.com/css/open-sans" rel="stylesheet">
        <script src="https://maps.googleapis.com/maps/api/js?key=<%=apikey%>&libraries=drawing,places"></script>
        <script src="/js/markerclusterer.js"></script>

    </head>
    <body>  
        <div id="mini_me" style="width:30px;height:30px;text-align: center; font-weight: 100; margin: 8px 0 0 230px;position: absolute;z-index: 2;cursor: pointer;"><img id="img_mini_me" src="/img/mini.png"/></div>   
        <div id="cc" class="easyui-layout" style="width:100%;height:94%;background: transparent;z-index: 1;">
            <div data-options="region:'west',split:false"  style="width:250px;border-color: transparent;background:transparent;background-color: #FAFAFA;">
                <div style="Margin:30px 0 0 20px"><img src="/img/logo_polisi.png" width="60px" height="60px"></div>
                <div style="Margin:-50px 0 0 90px"><img src="/img/polisi.png" width="50px" height="20px"></div>
                <div style="Margin:10px 0 50px 90px"><img src="/img/lalu lintas.png" width="120px" height="20px"></div>

                <div style="margin-bottom:5px;width: 200px;margin-left:25px ;">
                    <a id="dashboard" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2',plain:true,selected:false,iconCls:'icon-dashboard-black',size:'middle'" style="height: 40px;width: 100%;text-align: left;" onclick="Dashboard()" >Dashboard</a>
                </div>
                <div style="margin-bottom:5px;width: 200px;margin-left:25px ;">
                    <a id="monitor" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2',plain:true,selected:true,iconCls:'icon-monitor',size:'middle'" style="height: 40px;width: 100%;text-align: left;" onclick="Monitor()">Pantauan</a>
                </div>
                <div style="margin-bottom:5px;width: 200px;margin-left:25px ;">
                    <a id="device" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2',plain:true,iconCls:'icon-tasklist-black',size:'middle'" style="height: 40px;width: 100%;text-align: left;" onclick="Device()">Perangkat</a>
                </div>
                <div style="margin-bottom:5px;width: 200px;margin-left:25px ;">
                    <a id="vehicle" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2',plain:true,iconCls:'icon-tasklist-black',size:'middle'" style="height: 40px;width: 100%;text-align: left;" onclick="Vehicle()">Kendaraan</a>
                </div>
                <div style="margin-bottom:5px;width: 200px;margin-left:25px ;">
                    <a id="petugas" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2',plain:true,iconCls:'icon-tasklist-black',size:'middle'" style="height: 40px;width: 100%;text-align: left;" onclick="Petugas()">Petugas</a>
                </div>
                <div style="margin-bottom:5px;width: 200px;margin-left:25px ;">
                    <a id="tasklist" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2',plain:true,iconCls:'icon-tasklist-black',size:'middle'" style="height: 40px;width: 100%;text-align: left;" onclick="Tasklist()">Penugasan</a>
                </div>
                <div style="margin-bottom:5px;width: 200px;margin-left:25px ;">
                    <a id="chat" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2',plain:true,iconCls:'icon-chat-black',size:'middle'" style="height: 40px;width: 100%;text-align: left;" onclick="Chat()">Chat</a>
                </div>
                <div style="margin-bottom:5px;width: 200px;margin-left:25px ;">
                    <a id="alert" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2',plain:true,selected:false,iconCls:'icon-bell-black',size:'middle'" style="height: 40px;width: 100%;text-align: left;" onclick="Notifikasi()">Notifikasi</a>
                </div>
                <div style="margin-bottom:5px;width: 200px;margin-left:25px ;">
                    <a id="report" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2',plain:true,selected:false,iconCls:'icon-document-black',size:'middle'" style="height: 40px;width: 100%;text-align: left;" onclick="Laporan()">Laporan</a>
                </div>
                <div style="margin-bottom:5px;width: 200px;margin-left:25px ;">
                    <a id="setting" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2',plain:true,selected:false,iconCls:'icon-setting-black',size:'middle'" style="height: 40px;width: 100%;text-align: left;" >Pengaturan</a>
                </div>
                <div style="margin-top:100px;margin-bottom:5px;width: 200px;margin-left:25px ;">
                    <a id="logout" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2',plain:true,selected:false,iconCls:'icon-logout',size:'middle'" style="height: 40px;width: 100%;text-align: left;"  onclick="logout()" >Logout</a>
                </div>
            
            </div>

            <div data-options="region:'center'"  style="background-color: white;border:none;height: 80%;">
                <div style="background: white;width: 100%;height:60px;margin-top: -12px;position: absolute;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
                    <div id="title_page" style="margin-left: 30px;margin-top: 20px;color: #45464E;font-family:'Open Sans Condensed';font-size: 20; font-weight: 600;line-height: 28px;height: 28px;width:100px;border: 0px solid red;">Pantauan</div>
                    <div style ="width:16px;height: 16px; margin-top: -25px; margin-left: 80%;"><img src="/img/notification.png" width="16" height="16"/></div>
                    <div id="username" style ="width:16px;height: 16px; margin-top: -25px; margin-left: 84%;font-family: 'Poppins';font-size: 18;font-weight: 400;color: #404040;">Admin</div>
                    <div id="level" style ="width:60px;height: 18px; margin-top: 10px; margin-left: 84%;font-family: 'Poppins';font-size: 10;font-weight: 400;color: #404040;text-align: center;">Super Admin</div>
                    <div style="width: 32;height: 32;margin-top: -40px; margin-left: 91%;"><img src="/img/profile 1.png" width="32" height="32" /></div>
                    <div class="dropdown">
                        <button onclick="myFunction()" class="dropbtn"><img src="/img/vector (6).png" width="15" height="9"/></button>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="#home">Home</a>
                            <a href="#about">About</a>
                            <a href="#contact">Contact</a>
                        </div>
                    </div>
                </div>

            <!-- Content -->
            <div id="cc_monitor" class="easyui-layout" style="width:98.5%;height:99%;background: white;border-radius: 8px;margin-top: 60px;margin-left:10px;position: fixed;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
                <div data-options="region:'west',split:false"  style="width:320px;background:white;border:none;">
                    <div class="easyui-panel" style="padding:5px;text-align: center;border:none;margin-bottom: 5px;position: fixed;">
                        <a id="Semua" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1',plain:true,selected:true" style="height: 40px;width:60px;border:1px solid lightgrey;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);" onclick="semua()"> <p id="semua_value" style="margin-top: 10px;margin-bottom: 20px;"> 0  </p><p style="margin-top: -25px;height: 20px;font-size: 10px;"> Semua </p> </a>
                        <a id="Bergerak" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1',plain:true" style="height: 40px;width:60px;border:1px solid lightgrey;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)" onclick="bergerak()"> <p id="bergerak_value" style="margin-top: 10px;margin-bottom: 20px;"> 0  </p><p style="margin-top: -25px;height: 20px;font-size: 10px;"> Bergerak </p> </a>
                        <a id="Diam" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1',plain:true" style="height: 40px;width:60px;border:1px solid lightgrey;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)" onclick="diam()"> <p id="diam_value" style="margin-top: 10px;margin-bottom: 20px;"> 0  </p><p style="margin-top: -25px;height: 20px;font-size: 10px;"> Diam </p> </a>
                        <a id="Offline" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1',plain:true" style="height: 40px;width:60px;border:1px solid lightgrey;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)" onclick="offline()"> <p id="offline_value" style="margin-top: 10px;margin-bottom: 20px;"> 0  </p><p style="margin-top: -25px;height: 20px;font-size: 10px;"> Offline </p> </a>
                        <div style="margin-left:-5px;margin-top: 10px;">
                            <input id="usearch" class="easyui-textbox"  prompt="Search" iconWidth="28" data-options="iconCls:'icon-search1',iconAlign:'left',buttonAlign:'right',buttonIcon:'icon-setting'" style="width:90%;height:40px;padding:10px;background-color: #F6F6F6;font-family:'Open Sans';">
                        </div>
                    </div>

                    <div style="overflow: auto;margin-left: 10px;">
                        <div id="live_monitor" style="margin-top: 110px;"></div>
                   </div>

                </div>
                
                <div data-options="region:'center'"  style="background-color: white;width:100%;height: 100%;border:none;">
                    <div id="googleMap" style="width: 100%;height: 100%;z-index:1"></div>
                    <!-- Vehicle & Place -->
                    <div id="geofence_box" style="width: 350;height:40px;z-index:4;top:10;left:200;position:absolute;background: transparent;visibility: visible;overflow-y: auto;">
                        
                        <div style="margin-top: 0px;margin-left:0px;">
                            <a id="toggle_vehicle" href="#" class="easyui-linkbutton" data-options="toggle:true,selected:true" style="height: 40px;width:100px;"><span style="font-size: 16px;">Vehicle</span></a>
                            <a id="toggle_place" href="#" class="easyui-linkbutton" data-options="toggle:true" style="height: 40px;width:100px;"><span style="font-size: 16px;">Place</span></a>   
                        </div>
                        <div style="margin-top: -40px;margin-left:220px;">
                            <a id="circle_place" href="#" class="easyui-linkbutton" data-options="toggle:true,plain:false,iconCls:'icon-circle'" style="height: 100%;width: 40px;"> </a>   
                        </div>
                        <!-- <div style="margin-top: -40px;margin-left:260px;">
                            <a id="polygon_place" href="#" class="easyui-linkbutton" data-options="toggle:true,plain:false,iconCls:'icon-polygon'" style="height: 100%;width: 40px;"> </a>   
                        </div> -->
                        <div style="margin-top: -40px;margin-left:260px;">
                            <a id="list_place" href="#" class="easyui-linkbutton" data-options="plain:false,iconCls:'icon-tasklist-black'" style="height: 100%;width: 40px;"> </a>   
                        </div>
                    </div>
                    <!-- Create Place Box -->
                    <div id="place_box" style="width: 600px;height:100%;z-index:2;top:0%;right:0;position:absolute;background: #F5F8FFD9;float:right;visibility: hidden;">
                        <div id="title_geofence" style="margin:10 5px 0 10;width: 100%;height: 16px;font-size: 14px;font-weight: bolder;color: black;font-family: 'Poppins';">Create Geofence</div>
                        
                        <div id="geo_cirle">

                   
                            <div style="margin:10 0 0 10">
                                <input id="placeId_geo1" class="easyui-textbox" label="Place Name:" labelPosition="top" style="width:100%;">
                            </div>
    
                            <div style="margin:10 0 0 10">
                                <!-- <input id="address_geo1" class="easyui-textbox" label="Address:" multiline="true" labelPosition="top" style="width:100%;"> -->
                                <div>Address:</div>
                                <input id="pac-input" type="text" placeholder="Enter a location" style="width:100%;height: 35px;border-radius: 3px;"  onkeydown="searchMap(this)" />
                            </div>

                            <div style="margin:10 0 0 10;width: 585px;height: 350px;border-radius: 5px;">
                                <div id="googleMapPlace" style="width: 100%;height: 100%;border-radius: 5px;"></div>
                            </div>
                            
    
                            <div style="margin:10 0 0 10">
                                <input id="coordinates_geo1" class="easyui-textbox" label="coordinates:" multiline="true" labelPosition="top" style="width:100%;height:120px;">
                            </div>
                            
                            <div style="margin:10 0 0 10">
                                <input id="radius_geo1" class="easyui-textbox" label="radius:" labelPosition="top" style="width:100%;">
                            </div>

                            <div style="margin:10 0 0 10;float:right;">
                                <a id="create_geo_shape" href="#" class="easyui-linkbutton" style="height:35px;width:60px;float:right;background: #436AAC;color:white;">Save</a> &nbsp;
                                <a id="clear_geo_shape" href="#" class="easyui-linkbutton" style="height:35px;width:60px;float:right;background: white;color:#436AAC;border-color: #436AAC;">Clear</a>
                                
                            </div>

                        </div>

                    
                       
                    </div>
                    <!-- Live Box -->
                    <div id="live_box" style="width: 30%px;height:100%;z-index:2;top:0%;right:0;position:absolute;background: #F5F8FFD9;float:right;visibility: hidden;">
                        <div id="title_detail" style="margin:10 0 0 10;width: 100%;height: 16px;font-size: 14px;font-weight: bolder;color: black;font-family: 'Poppins';">Vuid</div>
                        <div id="close_live_box" style="margin-left: 220px;margin-top:-15;cursor: pointer;" onclick="close_live_box()"><img src="/img/close_small.png"></div>
                       
                        <div style="width: 100%;text-align: center;margin-top: 20px;">
                            <img id="img_kendaraan" src="/img/mazda.png" width="125" height="65"/>
                        </div>

                        <div style="width:230px;height: 40px;background: white;margin-left: 10px;border-radius: 8px;margin-top: 20px;">
                            <div id="vehicle_status" style="padding-top: 10px; padding-left:50px; font-size: 14px;font-weight: bold;color: black;font-family: 'Poppins';">Bergerak</div>
                            <div  style="margin-top: -23px;padding-left: 10px;"><img id="img_status" src="/img/moving.png" width="24" height="24"/></div>
                        </div>

                        <div style="width:230px;height: 160px;background: white;margin-left: 10px;border-radius: 8px;margin-top: 10px;position:fixed">
                            <div style="width: 100px;margin-left: 10px;padding-top: 20px;font-weight: 800;font-family: 'Poppins';">
                                Alamat
                            </div>
                            <div id="vehicle_address_live" style="width: 90%;margin-left: 10px;padding-top: 10px;font-size: 10px;text-align: justify;text-justify: inter-word;font-family: 'Poppins';">
                                Jl. Kedoya RayaNo 15-56 RT.8/RW7, Kedoya Utara Kec. Kb Jeruk, Kota Jakarta Barat Daerah Khusus Ibukota 11520, Indonesia
                            </div>
                            <div style="width: 100px;margin-left: 10px;padding-top: 20px;margin-top: -10px;font-weight: 800;font-family: 'Poppins';">
                                Update Time
                            </div>
                            <div id="vehicle_time_live" style="padding-left: 10px;padding-top: 10px;font-size: 10px;font-size: 10px;margin-bottom: 10px;font-family: 'Poppins';">7/12/2023 1:20 PM WIB</div>
                        </div>

                        <div style="width:230px;height: 210px;background: white;margin-left: 10px;border-radius: 8px;margin-top: 180px;position:fixed;overflow-y: auto;">
                            <div style="margin-top: 10px;border:0px solid red;height: 20px;">
                                <div style="float: left;padding-left: 10px;font-family: 'Poppins';font-weight: 800;">Data hari ini</div>
                            </div>
                            <div style="margin-top: 5px;border:0px solid red;height: 20px;font-family: 'Poppins';">
                                <div style="float: left;padding-left: 10px;font-size: 11;font-family: 'Poppins';">Tegangan Accu</div>
                                <div  style="float: right;padding-right: 10px;font-family: 'Poppins';">
                                    <div style="float: right; width: 50px; background: #C1F1C8;border-radius: 20px;font-weight: lighter;text-align: center;font-family: 'Poppins';">
                                        <span id="vehicle_voltage" style="color: #28A138;font-family: 'Poppins';">12.5V </span>
                                    </div>
                                    
                                </div>
                            </div>

                            <div style="position: relative; overflow-y: auto;">
                                <div style="margin-top: 5px;border:0px solid red;height: 20px;">
                                    <div style="float: left;padding-left: 10px;font-size: 11;font-family: 'Poppins';">Jarak</div>
                                    <div id="vehicle_distance" style="float: right;padding-right: 10px;">16 Km</div>
                                </div>
                                <div style="margin-top: 5px;border:0px solid red;height: 20px;">
                                    <div style="float: left;padding-left: 10px;font-size: 11;font-family: 'Poppins';">Kecepatan</div>
                                    <div id="vehicle_speed_live" style="float: right;padding-right: 10px;">16 Km</div>
                                </div>
                                <div style="margin-top: 5px;border:0px solid red;height: 20px;">
                                    <div style="float: left;padding-left: 10px;font-size: 11;font-family: 'Poppins';">Arah</div>
                                    <div style="float: right;padding-right: 10px;">&deg;</div>
                                    <div id="vehicle_heading" style="float: right;padding-right: -10px;">16</div>
                                    
                                </div>
                                
                                <!-- <div style="margin-top: 5px;border:0px solid red;height: 20px;">
                                    <div style="float: left;padding-left: 10px;font-size: 11;font-family: 'Poppins';">Merk Perangkat</div>
                                    <div id="merk_perangkat" style="float: right;padding-right: 10px;">Samsung</div>
                                </div>
                                <div style="margin-top: 5px;border:0px solid red;height: 20px;">
                                    <div style="float: left;padding-left: 10px;font-size: 11;font-family: 'Poppins';">Tipe Perangkat</div>
                                    <div id="tipe_perangkat" style="float: right;padding-right: 10px;">Android</div>
                                </div> -->
                                <!-- <div style="margin-top: 5px;border:0px solid red;height: 20px;">
                                    <div style="float: left;padding-left: 10px;font-size: 11;font-family: 'Poppins';">Kondisi Kendaraan</div>
                                    <div id="kondisi_kendaraan" style="float: right;padding-right: 10px;">Baik</div>
                                </div> -->

                                <div style="margin-top: 5px;border:0px solid red;height: 20px;">
                                    <div style="float: left;padding-left: 10px;font-size: 11;font-family: 'Poppins';">Operating Time</div>
                                    <div id="operating_time" style="float: right;padding-right: 10px;">On</div>
                                </div>
                                <div style="margin-top: 5px;border:0px solid red;height: 20px;">
                                    <div style="float: left;padding-left: 10px;font-size: 11;font-family: 'Poppins';">Fuel Level</div>
                                    <div id="fuel_level" style="float: right;padding-right: 10px;">On</div>
                                </div>
                                <div style="margin-top: 5px;border:0px solid red;height: 20px;">
                                    <div style="float: left;padding-left: 10px;font-size: 11;font-family: 'Poppins';">Odometer</div>
                                    <div id="odometer" style="float: right;padding-right: 10px;">On</div>
                                </div>
                               
                        </div>

                        <div style="width:230px;height: 180px;background: white;margin-left: 0px;border-radius: 8px;margin-top: 10px;position:fixed;overflow-y: auto;">
                            <div style="margin-top: 10px;border:0px solid red;height: 20px;">
                                <div style="float: left;padding-left: 10px;font-family: 'Poppins';font-weight: 800;">Detail Kendaraan</div>
                            </div>

                            <div style="margin-top: 5px;border:0px solid red;height: 20px;">
                                <div style="float: left;padding-left: 10px;font-size: 11;font-family: 'Poppins';">Merk</div>
                                <div id="merk_kendaraan"  style="float: right;padding-right: 10px;">Mazda</div>
                            </div>
                            <div style="margin-top: 5px;border:0px solid red;height: 20px;">
                                <div style="float: left;padding-left: 10px;font-size: 11;font-family: 'Poppins';">Tipe Kendaraan</div>
                                <div id="tipe_kendaraan" style="float: right;padding-right: 10px;">Mobil Listrik</div>
                            </div>

                            <div style="margin-top: 5px;border:0px solid red;height: 20px;">
                                <div style="float: left;padding-left: 10px;font-size: 11;font-family: 'Poppins';">Vin</div>
                                <div id="vin" style="float: right;padding-right: 10px;">Mobil Listrik</div>
                            </div>

                            <div style="margin-top: 5px;border:0px solid red;height: 20px;">
                                <div style="float: left;padding-left: 10px;font-size: 11;font-family: 'Poppins';">Plat No</div>
                                <div id="license_plate" style="float: right;padding-right: 10px;">Mobil Listrik</div>
                            </div>

                            <div style="margin-top: 5px;border:0px solid red;height: 20px;">
                                <div style="float: left;padding-left: 10px;font-size: 11;font-family: 'Poppins';">Device ID</div>
                                <div id="deviceid" style="float: right;padding-right: 10px;">Mobil Listrik</div>
                            </div>

                        </div>

                    </div>
                    
                 



                </div>
                

                    <!-- History Box -->
                    <div id="history_box" style="width: 100%;height:35%;z-index:3;top:65%;left:0;position:absolute;background: #F5F8FFD9;visibility: hidden;overflow-y: auto;">
                    
                        <div class="easyui-panel" style="padding:5px;width:100%;height: 100%;background: transparent;overflow-y: auto;">
                            <!-- <div style="margin-top:5px;left:0;float:left"> -->
                                <table id="dg" class="easyui-datagrid" title="Riwayat" style="width:40%;height:100%;"
                                    data-options="singleSelect:true,fitColumns:true">
                                <thead>
                                    <tr>
                                        <th data-options="field:'no',width:50,align:'center'">No</th>
                                        <th data-options="field:'heading',width:80,align:'center'">Heading</th>
                                        <th data-options="field:'speed',width:100,align:'center'">Speed</th>
                                        <th data-options="field:'latitude',width:120,align:'center'">Latitude</th>
                                        <th data-options="field:'longitude',width:120,align:'center'">Longitude</th>
                                        <th data-options="field:'tanggal',width:270,align:'center'">Tanggal</th>
                                    </tr>
                                </thead>
                            </table>
                            <!-- </div> -->

                            
                                <div style="top:3%;left: 41%;background: #436AAC;border-radius: 8px;width: 435px;height: 130px;position: absolute;">
                                    <div style="margin-left: 10px;margin-top: 5px;margin-bottom: 5px;color: white;font-weight: 900;">
                                        Waktu Mulai
                                    </div>
                                    <div style="margin-left: 10px;margin-top: 5px;">
                                        <input id="dt1" class="easyui-datetimebox" data-options="formatter: mydtformatter,parser:mydtparser, 
                                        onSelect: function(value)
                                        {
                                          var c = $('#dt1').datetimebox('calendar');
                                          var t = $('#dt1').datetimebox('spinner');
          
                                          var day = c.calendar('options').current;
          
                                          var time = t.timespinner('getValue');
                                          
                                          var y = day.getFullYear();
                                          var m = day.getMonth()+1;
                                          var d = day.getDate();
                                          var myday = String(y) +'-'+String(m<10?('0'+m):m)+'-'+ String(d<10?('0'+d):d);
                                         
                                          var mydate = myday + ' ' + time ;
                                          var dt =  mydate.toString()

                                          $('#dt1').datetimebox('setValue',dt);
                                          $('#dt1').datetimebox('hidePanel');  
                                         
          
                                          }" style="width:150px;">
                                    </div>
                
                                    <div style="margin-left: 170px;margin-top:-50px;margin-bottom: 5px;color: white;font-weight: 900;">
                                        Waktu Berakhir
                                    </div>
                                    <div style="margin-left: 170px;margin-top: 5px;">
                                        <input id="dt2" class="easyui-datetimebox" data-options="formatter: mydtformatter,parser: mydtparser,
                                        onSelect: function(value)
                                        {
                                          var c = $('#dt2').datetimebox('calendar');
                                          var t = $('#dt2').datetimebox('spinner');
          
                                          var day = c.calendar('options').current;
          
                                          var time = t.timespinner('getValue');
                                          var y = day.getFullYear();
                                          var m = day.getMonth()+1;
                                          var d = day.getDate();
                                          var myday = String(y) +'-'+String(m<10?('0'+m):m)+'-'+ String(d<10?('0'+d):d);
                                         
                                          var mydate = myday + ' ' + time  ;
                                          
                                          var dt =  mydate.toString()

                                          $('#dt2').datetimebox('setValue',dt);
                                          $('#dt2').datetimebox('hidePanel'); 
          
                                        
          
                                          }" style="width:150px;">
                                    </div>

                                    <div style="margin-left: 325px;margin-top: -29px;font-family: 'Poppins';">
                                        <div> <a href="#" class="easyui-linkbutton" style="width:100px;height: 30px;background: white ;border-color: #436AAC;color: #436AAC;" onclick="cari_riwayat()">Cari</a></div>
                                    </div>
                                    
                                    <div id="track_time" style="float: left;width: 100px;border: 0px solid red;margin-top: 25px;margin-left: 10px;color: white;font-weight: 900;">
                                        13:48
                                    </div>
                                    <div id="track_date" style="width: 100px;height:20px;margin-top: -10px;margin-left: 10px; border: 0px solid red;font-size: 10px; font-weight: lighter; color: white;">
                                        29/06/2023
                                    </div>
                                    <div style="text-align: center;width: 78px;border: 0px solid red;margin-left: calc(50% - 50px);margin-top: 15px;">
                                        <div style="text-align: center;">
                                            <div id="play" style="width: 24px; width: 24px; border: 0px solid red;cursor: pointer;" onclick="play()">
                                                <img src="/img/play.png" width="24" height="24" />
                                            </div>
                                            <div id="pause" style="width: 24px; width: 24px; border: 0px solid red;margin-top: -19px; margin-left: 26px;cursor: pointer;" onclick="pause()">
                                                <img src="/img/pause-circle.png" width="24" height="24" />
                                            </div>
                                            <div id ="stop" style="width: 24px; width: 24px; border: 0px solid red;margin-top: -19px; margin-left: 52px;cursor: pointer;" onclick="stop()">
                                                <img src="/img/stop-circle.png" width="24" height="24" />
                                            </div>
                                        </div>
                                       
                                        
                                    </div>
            
                                    <div style="float: right;margin-top: -23px;width: 100px;border: 0px solid red;margin-right: 10px;">
                                        <a id="g3_1" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g3',plain:true,selected:true" style="border-radius: 100%;width:30px;height: 30px;border:1px solid white;" ><span style="font-size: 9px;">10x</span></a>
                                        <a id="g3_2" href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g3',plain:true"  style="border-radius: 100%;width: 30px;height: 30px;border:1px solid white;" ><span style="font-size: 9px;">30x</span></a>    
                                    </div>
                                </div>
                                
                                <!--  Play Button -->

    

                        </div>
                
                    </div>
    

                </div>

                <div id="close_history" style="width:68px;height:68px;top: 50%;left:0;position:absolute;border:0px solid red;z-index:5;text-align: center;cursor: pointer;visibility: hidden;" onclick="close_riwayat()">
                    <img src="/img/close_history.png" width="68" height="68"/>
                </div>



                    <!-- Other -->

                </div>

    
            
            </div>




            </div>
        </div>

        <div id="w_place" class="easyui-window" title="List Place" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,headerCls:'hcls1'" style="width:800px;height:400px;padding:10px;">
            <table id="dg_place" class="easyui-datagrid"  style="width:100%;height:340px"
            data-options="singleSelect:true,collapsible:true,fitColumns:true,striped:true,nowrap:true,pagination:false,nowrap:false">
                <thead>
                    <tr>
                        <th data-options="field:'placeUid',width:100,align:'center'">PlaceUid</th>
                        <th data-options="field:'placeId',width:100,align:'center'">Place</th>
                        <th data-options="field:'address',width:80,align:'center'">Address</th>
                        <th data-options="field:'type',width:80,align:'center'">Type</th>
                        <th data-options="field:'coordinates',width:180,align:'center'" hidden>Coordinate</th>
                        <th data-options="field:'radius',width:80,align:'center'" hidden>Radius</th>
                        <th data-options="field:'status',width:80,align:'center',formatter:formatAction">Action</th>
                    </tr>
                </thead>
            </table>
        </div>

        <script type="text/javascript" src="/js/markers_arrow.js"></script>  
        <script type="text/javascript" src="/js/monitor_bottom.js"></script>
        <script type="text/javascript" src="/js/monitor_process_data.js"></script>
        <script type="text/javascript" src="/js/monitor_map.js"></script>
    </body>
</html>