     

  
  
  body {
    font-family: 'Poppins';
}


.bg1{
        background: #2F3089;
        width: 40px;
        border-radius: 5px;
    }
    .bg1 .panel-title{
        color:#fff;
    }

#floatingNav {
    z-index: 1;
    position: absolute;
    left: 65%;
    right: 100px;
    bottom: 25px;
    
    height: 30px;
    width: 100px;
    background-color: #fff;
    opacity: 1;
    color: black;
    border: 1px solid lightgrey;
    padding: 0;
    border-radius:25px;
}

#container_nav {
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
  background-color: transparent;
}
#container_nav > div {
  width: 80px;
  text-align: center;
  margin-top: 3px;
  height: 30px;
  border: 0px dashed red;
}

div::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

       #map{
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }
#hamburger{

    cursor: pointer;
}
.vl{
    border-left: 1px solid lightgrey;
    height: 50px;
    margin-top: -39px;
    margin-left: 145px;
}

.vl2{
    border-left: 1px solid lightgrey;
    height: 50px;
    margin-top: -39px;
    margin-left: 800px;
}

.line {
            border-bottom: 3px solid red;
            margin-left: -295px;
            margin-top: 8px;
            width: 100%;
            position: absolute;
        }

#container,#container1 {
    height:80%;
    width:100%;
    position:relative; 
}




 .highcharts-figure,
.highcharts-data-table table {
    min-width: 200px;
    max-width: 200px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 200px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 100;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: transparent;
}

.highcharts-data-table tr:hover {
    background: transparent;
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
  background: white;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
}

.div_button{
  background: transparent;
/* background: #436AAC; */
width: 100%;
height: 40px;
padding: 10px 0;
text-align: center;
border-radius: 5px;
border: 0px solid #436AAC;
filter: none;
cursor: pointer;


}
.div_button:after{
  clear: both;
  display: table;
  content: "";
}
.div_button-selected{
  background: #436AAC;
color:white;
font-size:14px;
font-weight: 700;
font-family: 'Open Sans';
}
.div_button .active:hover{
background: #436AAC;
color:white;
font-size:14px;
font-weight: 700;
font-family: 'Open Sans';
}
.div_button:hover {
  background: #436AAC;
  color:white;
  text-align: center;
  font-size:14px;
  font-weight: 700;
  font-family: 'Open Sans';

}



.img_button{
  float: left;
}

.l-btn-middle .l-btn-text {
  line-height: 36px;
  font-size: 16px;
}
.l-btn-middle .l-btn-icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-top: -12px;
}
.l-btn-middle .l-btn-icon:hover {
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-top: -12px;
  font-size: 16px;
}
.l-btn-middle .l-btn-icon-left .l-btn-text {
  margin-left: 70px;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: -30px;
  margin-right: 25px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: transparent;
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #436AAC;
  color:white
}

.show {display: block;}


.markerImage {
  display: none;
}


.alignleft {
  border: 1px solid red;
  float: left;
  text-align:left;
  width:24px;
  height: 100%;
  position: inherit;
}
.aligncenter {
  border: 1px solid red;
  float: left;
  text-align:left;
  width:100%;
  height: 100%;
  padding-left: 20px;;
  position: inherit;
}
.alignright {
  float: left;
  text-align:center;
  width:24px;
  height: 100%;
  border: 1px solid red;
  margin-top: -36px;
  margin-left: 90%;
  position: fixed;
}


.container{
  border: 1px solid red;
  height: 100%;
  font-size: 11px;
  font-family: 'Poppins';
  padding: 5px;
}

.datagrid .panel-body {
  border-radius: 0 0 5px 5px;
  }

  .cls1,.cls1:hover,.cls1>.panel-header{
	/* border-color: red; */
	/* background: red; */
    border-radius: 20px;

}
.cls1>.panel-body{
	
    border-radius: 20px;
}


